<div class="card mat-card">
    <div class="card-titles">
        <h1 id="footerexperiencia">EXPERIENCIA</h1>
        <section class="bg-light py-5 py-xl-6">
            <div class="container overflow-hidden">
                <div class="row justify-content-xl-center gy-3 gy-sm-4">
                    <div class="col-12 col-sm-6 col-xl-5">
                        <div class="bg-white rounded shadow-sm p-3 p-md-4 p-xxl-5">
                            <h3 class="fw-bold mb-2">TATAMI OK</h3>
                            <h5>Community manager</h5>
                            <h6>2020 - Actualidad</h6>
                            <p>Manejo de redes sociales, venta online, atención de consultas via whatsapp e instagram,
                                encargado de compras, coordinación de envíos y postventa. Campañas de publicidad en
                                Instagram y Google Ads.</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-xl-5">
                        <div class="bg-white rounded shadow-sm p-3 p-md-4 p-xxl-5">
                            <h3 class="fw-bold mb-2">DON PLATON</h3>
                            <h5>Gerente local gastronómico</h5>
                            <h6>2012 - 2020</h6>
                            <p>Tareas generales de administración. Compras a proveedores. Manejo de personal. Control de
                                caja</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-xl-5">
                        <div class="bg-white rounded shadow-sm p-3 p-md-4 p-xxl-5">
                            <h3 class="fw-bold mb-2">ESTUDIO JURIDICO</h3>
                            <h5>Administrativo</h5>
                            <h6>2008 - 2011</h6>
                            <p>Tareas generales de administración. Carga de documentación al sistema. Organización de
                                expedientes. Asistencia en tareas varias a la gerencia. Trámites bancarios.</p>

                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
</div>