<div class="card mat-card">
    <div class="card-titles">
        
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <p>&copy; <b>Jonathan Carranza, todos los derechos reservados 2023 </b> </p>
                </div>
                <div class="col-md-6">
                  <ul class="footer-links">
<li><a href="#inicioboton"><button type="button" class="btn btn-outline-primary">Inicio</button></a></li>
<li><a href="#footeracercademi"><button type="button" class="btn btn-outline-primary">Acerca de</button></a></li>
<li><a href="#footerskills"><button type="button" class="btn btn-outline-primary">Skills</button></a></li>
<li><a href="#footerexperiencia"><button type="button" class="btn btn-outline-primary">Experiencia</button></a></li>
<li><a href="#footereducacion"><button type="button" class="btn btn-outline-primary">Educacion</button></a></li>

                  </ul>
                </div>
              </div>
            </div>
        </div>
</div>