#acercademi {
    display: flex;
    margin-left: 100px;
    justify-content: center;
    font-size: x-large;
    margin-right: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    }

    h1 {
        text-align: center;
        text-shadow: 2px 1px rgb(134, 113, 113);
        text-transform: uppercase;
    }
    
#info-company {
    text-align: center;
    margin-top: 10px;
}
div#info {
    display: flex;
    flex: wrap;
     }