<div class="card mat-card" id="first-card">
    <div id="profile-background">
        <img src="../../../assets/black-modern-material-header-with-diagonal-silver-lines-banner-for-your-business-abstract-widescreen-background-vector.jpg"
            alt="">

    </div>
</div>

<div class="card mat-card">

    
        
    
    <div id="info" style="padding: 16px">
        <div id="info-img">
            <img class="profile-image" src="../../../assets/JonathanCarranza.png" alt="jonathan">
            <div class="btn_edit">
                <a href="#" class="btn-right"> editar <i class="fa fa-pen"></i></a>
            </div>
  <div id="info-data">
                <div>
                    <h1>Jonathan Carranza</h1>
                    <div id="info-company">desarrollador web full stack Jr </div>
                   </div>
                </div>

        </div>
        
       <div>
        <h2>Sobre Mi</h2>
       </div>
    </div>
</div>